html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.start_button {
  display: inline-block;
  color: aliceblue;
  font-weight: bold;
  background-color: cornflowerblue;
  height: 40px;
  line-height: 40px;
  width: 100px;
  border-radius: 20px;
  margin-top: 32px;
  cursor: pointer;
  transition: all 0.3s ease-out 0.1s;
}

.start_button:hover {
  box-shadow: 3px 3px 10px -6px rgba(0, 0, 0, 0.82);
}

@font-face {
  font-family: "Bolderslant";
  src: url("../src/assets/Bolderslant.ttf") format("truetype");
}
@font-face {
  font-family: "cursyger";
  src: url("../src/assets/cursyger.ttf") format("truetype");
}
@font-face {
  font-family: "Hugest";
  src: url("../src/assets/Hugest.ttf") format("truetype");
}
@font-face {
  font-family: "LCMogi";
  src: url("../src/assets/LCMogi-A.ttf") format("truetype");
}
@font-face {
  font-family: "rondula";
  src: url("../src/assets/rondula.ttf") format("truetype");
}
@font-face {
  font-family: "YouDense";
  src: url("../src/assets/YouDense-Glass-BlowBold.ttf") format("truetype");
}
@font-face {
  font-family: "Chilgok";
  src: url("../src/assets/Chilgok_lws.ttf") format("truetype");
}

.Bolderslant {
  font-family: "Bolderslant";

  /* font-size: 32px;
  color: cornflowerblue;
  margin-top: 32px;
  margin-left: 32px; */
}

.cursyger {
  font-family: "cursyger";
}
.Hugest {
  font-family: "Hugest";
}
.LCMogi {
  font-family: "LCMogi";
}
.rondula {
  font-family: "rondula";
}
.YouDense {
  font-family: "YouDense";
}
.Chilgok {
  font-family: "Chilgok";
}
