@media screen and (max-width: 1023px) {
  .App {
    text-align: center;
    width: 100%;
    /* padding-left: 5%;
    padding-right: 5%; */
    overflow: visible;
    /* height: calc(100% - 60px);
    padding-top: 40px;
    position: relative;
    padding-bottom: 19px; */
    /* height: 90vh; */

    /* padding-top: 60px; */
    /* background-color: rgb(250, 255, 238); */
    min-height: 100%;
    /* flex 컨테이너 설정 */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: floralwhite;
  }
  .main_page_content {
    margin-top: 20px;
  }

  .main_wrapper {
    width: 100vw;
    height: 100vh;
  }

  .main_content {
  }

  .title_wrapper_main {
    /* margin-top: 40px; */
  }

  .title {
    font-size: 80px;
    padding-bottom: 3px;
    /* width: 730px; */
    text-align: center;
  }
  .title_sub {
    font-size: 24px;
    /* padding-bottom: 30px; */
    /* width: 730px; */
    text-align: center;
  }
  .body {
    display: inline-block;
    text-align: center;
  }
  .PrivatePickersSlideTransition-root css-dhopo2 {
    height: 240px;
  }
  .disable {
    cursor: default !important;
    opacity: 0.7 !important;
    pointer-events: none;
  }

  .button {
    cursor: pointer;
  }

  .center {
    text-align: center;
  }

  .footer {
    text-align: center;
    padding: 10px;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 24px; */
    /* margin-top: 30px;
    bottom: 0;
    text-align: center; */
    /* height: 50px; */
    /* margin-bottom: 16px; */
  }

  .contents_container {
    padding-top: 16px;
  }

  .contents_title {
    font-size: 26px;
  }
  /* ============================================================================================ */

  .menu_title {
    font-size: 26px;
    margin-bottom: 24px;
    font-weight: 700;
  }
  .menu_content_title {
    font-size: 28px;
  }
  .menu_content {
    margin-bottom: 16px;
  }
  /* ============================================================================================ */

  .padding_bottom {
    padding-bottom: 24px;
  }
}
